<p>
    <mat-toolbar color = "primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
        (click) = "menuButtonClicked()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Amazon
        
    </span>
    <button mat-icon-button class="example-icon favorite-icon"
     aria-label="Example icon-button with heart icon" (click)="addToCart(Product)">
      <mat-icon>shopping_cart
      </mat-icon>
    </button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" 
    aria-label="Example icon-button with heart icon" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>

    

    </mat-toolbar>
</p>
